includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
    excludePaths:
    doctrine:
        repositoryClass: Nalgoo\Common\Infrastructure\Persistence\DoctrineRepository
