parameters:
	ignoreErrors:
		-
			message: '#^Method Nalgoo\\Common\\Application\\Normalizers\\DoctrineCollectionNormalizer\:\:normalize\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Application/Normalizers/DoctrineCollectionNormalizer.php

		-
			message: '#^Method Nalgoo\\Common\\Application\\Normalizers\\DoctrineCollectionNormalizer\:\:normalize\(\) return type with generic class ArrayObject does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Application/Normalizers/DoctrineCollectionNormalizer.php

		-
			message: '#^Method Nalgoo\\Common\\Application\\Normalizers\\IdentifierNormalizer\:\:denormalize\(\) should return Nalgoo\\Common\\Domain\\IntegerIdentifier\|Nalgoo\\Common\\Domain\\StringIdentifier but returns object\.$#'
			identifier: return.type
			count: 1
			path: src/Application/Normalizers/IdentifierNormalizer.php

		-
			message: '#^Call to method __isInitialized\(\) on an unknown class Doctrine\\Common\\Proxy\\Proxy\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Normalizers/PropertyNormalizer.php

		-
			message: '#^Call to method __load\(\) on an unknown class Doctrine\\Common\\Proxy\\Proxy\.$#'
			identifier: class.notFound
			count: 1
			path: src/Application/Normalizers/PropertyNormalizer.php

		-
			message: '#^Class Doctrine\\Common\\Proxy\\Proxy not found\.$#'
			identifier: class.notFound
			count: 2
			path: src/Application/Normalizers/PropertyNormalizer.php

		-
			message: '#^Class Nalgoo\\Common\\Application\\Normalizers\\PropertyNormalizer extends @final class Symfony\\Component\\Serializer\\Normalizer\\PropertyNormalizer\.$#'
			identifier: class.extendsFinalByPhpDoc
			count: 1
			path: src/Application/Normalizers/PropertyNormalizer.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Domain/Enums/Gender.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Domain/IntegerIdentifier.php

		-
			message: '#^Trait Nalgoo\\Common\\Domain\\SequenceIdentifierTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Domain/SequenceIdentifierTrait.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Domain/StringIdentifier.php

		-
			message: '#^Trait Nalgoo\\Common\\Domain\\StringIdentifierTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Domain/StringIdentifierTrait.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Infrastructure/OAuth/ResourceServerConfig.php

		-
			message: '#^Static property Nalgoo\\Common\\Infrastructure\\OAuth\\UriScope\:\:\$defaultResourceServerConfig \(Nalgoo\\Common\\Infrastructure\\OAuth\\ResourceServerConfig\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Infrastructure/OAuth/UriScope.php

		-
			message: '#^Parameter \#1 \$entityClassName of method Nalgoo\\Common\\Infrastructure\\Persistence\\DoctrineRepository\:\:findBy\(\) expects class\-string\<object\>, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Infrastructure/Persistence/DoctrineRepository.php

		-
			message: '#^Parameter \#1 \$entityClassName of method Nalgoo\\Common\\Infrastructure\\Persistence\\DoctrineRepository\:\:findOneBy\(\) expects class\-string\<object\>, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Infrastructure/Persistence/DoctrineRepository.php

		-
			message: '#^Parameter \#2 \$criteria of method Nalgoo\\Common\\Infrastructure\\Persistence\\DoctrineRepository\:\:findBy\(\) expects array\<string, mixed\>, array\<string, string\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Infrastructure/Persistence/DoctrineRepository.php

		-
			message: '#^Parameter \#2 \$criteria of method Nalgoo\\Common\\Infrastructure\\Persistence\\DoctrineRepository\:\:findOneBy\(\) expects array\<string, mixed\>, array\<string, string\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Infrastructure/Persistence/DoctrineRepository.php

		-
			message: '#^Parameter \#3 \$orderBy of method Nalgoo\\Common\\Infrastructure\\Persistence\\DoctrineRepository\:\:findBy\(\) expects array\<string, string\>\|null, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Infrastructure/Persistence/DoctrineRepository.php

		-
			message: '#^Unable to resolve the template type TObject in call to method Nalgoo\\Common\\Infrastructure\\Persistence\\DoctrineRepository\:\:findBy\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Infrastructure/Persistence/DoctrineRepository.php

		-
			message: '#^Unable to resolve the template type TObject in call to method Nalgoo\\Common\\Infrastructure\\Persistence\\DoctrineRepository\:\:findOneBy\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Infrastructure/Persistence/DoctrineRepository.php

		-
			message: '#^Property Nalgoo\\Common\\Infrastructure\\Persistence\\QueryLogger\:\:\$types is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Infrastructure/Persistence/QueryLogger.php
